{% load static %}
<footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">مدیریت منابع سازمان</h5>
          <p class="grey-text text-lighten-4">
                  کار های خود را آسان تر کنید        <br>
                  پروژه های خود را مدیریت کنید         <br>
                  بر اساس داده ها تصمیم بگیرید </br>
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">تنظیمات</h5>
          <ul>
            <li><a class="white-text" href="#!">تنظیمات 1</a></li>
            <li><a class="white-text" href="#!">تنظیمات 2</a></li>
            <li><a class="white-text" href="#!">تنظیمات 3</a></li>
            <li><a class="white-text" href="#!">تنظیمات 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">ارتباط با ما</h5>
          <ul>
            <li><a class="white-text" href="#!">تماس 1</a></li>
            <li><a class="white-text" href="#!">تماس 2</a></li>
            <li><a class="white-text" href="#!">تماس 3</a></li>
            <li><a class="white-text" href="#!">تماس 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      طراحی و ساخته شده <a class="orange-text text-lighten-3" href="javascript:void();">شرکت آذر رسام</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
 
  </body>
</html>
